* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #66BB6A;
    --secondary-color: #388E3C;
    --text-color: #212121;
}

body {
    background-color: #F1F8E9;
}

header {
    background-color: #66BB6A;
    color: #ffffff;
    height: 10vh;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
;

    h2 {
        font-family: "Sansita Swashed", cursive;
        background-color: #66bb6a;  
        
        width: 30%;
        color: #ffffff;
  }
    
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    gap: 20px;
    align-items: flex-end;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: lightyellow;
    text-decoration: underline;
}

//Hero Section
.hero {
    background-image: url('./assets/background.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px;

    height: 70vh;

    color: #ffffff;
    text-align: center;     
   
    h1 {
        font-size: 5rem;
        margin-bottom: 50px;
        font-family: "Sansita Swashed", cursive;

    }

    p {
        font-size: 1.5rem;
        margin-bottom: 40px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;

       
        
    }
    
    button {
        background-color: var(--primary-color);
        color: #ffffff;
        border: none;
        padding: 20px;
        font-size: 1rem;
        border-radius: 28px;
    }
}

//Sessão atividades
.atividades {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    align-items: center;
    height: 70vh;
    width: 100%;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: #21212162 0px 0px 5px;
        align-items: center;

        height: 376px;    
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        width: 308px;

        h4 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
            text-align: center;
            font-weight: bold;
            color: #000000;            
        }

        img {
            border-radius: 10px 10px 0px 0px;
           
            
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
        }

        button {
            background-color: var(--primary-color);
            color: #ffffff;
            border: none;
            padding: 10px;
            font-size: 1rem;
            border-radius: 28px;
            width: 50%;
            margin-bottom: 15px;
            
        }


    }
}

#cadastro {
    background-color: #E8F5E9;
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;

        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;

        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            color: #212121;
            width: 28%;

        }
        
        form {
            display: flex;
            flex-direction: column; // Itens do formulário em coluna
            align-items: center;
            width: 90%; // Ocupa 90% da largura da seção
            max-width: 500px; // Mas no máximo 500px

        .form-group {
            width: 100%; // Cada grupo ocupa 100% do formulário
            margin-bottom: 20px; // Espaço entre os campos

            label {
                display: block; // Faz a label ocupar a linha toda
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                color: #212121;
                margin-bottom: 8px; // Espaço entre a label e o input
            }

        
            input[type="text"],
            input[type="email"],
            select {
                width: 100%; 
                padding: 15px;
                border: none;
                border-radius: 8px; 
                box-sizing: border-box;
                font-size: 1rem;
            }
        }

      
        button  {
            width: 100%;
            padding: 15px;
            background-color: var(--primary-color);
            color: #ffffff;
            border: none;
            border-radius: 8px; 
            font-size: 1.1rem;
            font-weight: bold;
            cursor: pointer;
        

            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    background-color: #66BB6A;
    color: #ffffff;
    height: 10vh;
    padding: 15px;

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            font-size: 1rem;


    }

  
}