* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #66BB6A;
    --secondary-color: #388E3C;
    --text-color: #212121;
}

body {
    background-color: lightgray;
}

header {
    background-color: #66BB6A;
    color: #ffffff;
    height: 10vh;

    padding: 15px;
}

nav ul {
    list-style: none;
    display: inline-block;
    gap: 20px;
    align-items: flex-end;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: lightyellow;
    text-decoration: underline;
}

//Hero Section
.hero {
    background-image: url('./assets/background.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px;

    height: 70vh;

    color: #ffffff;
    text-align: center;     
   
    h1 {
        font-size: 5rem;
        margin-bottom: 50px;
        font-family: "Sansita Swashed", cursive;

    }

    p {
        font-size: 1.5rem;
        margin-bottom: 40px;
        font-weight: 700;        
        
    }
    
    button {
        background-color: var(--primary-color);
        color: #ffffff;
        border: none;
        padding: 20px;
        font-size: 1rem;
        border-radius: 28px;
    }


}